<h1>Aquarium Details</h1>
<p>Aquarium Size: <%= @aquarium.gallons %> gallons</p>
<%= link_to "Edit", edit_aquarium_path %>
<p>Species: <%= @aquarium.fish.first.species %></p>
<%= link_to "Edit", edit_fish_path %>
<p>Equipment: <%= @aquarium.equipment.first.item %></p>
<%= link_to "Edit", edit_equipment_path %>
<p>Style: <%= @aquarium.decors.first.style %></p>
<%= link_to "Edit", edit_decor_path %>

<h3>Aquarium Facts</h3>

<p>Species: <%= @aquarium.fish.first.facts %></p>
<p>Equipment: <%= @aquarium.equipment.first.facts %></p>
<p>Style: <%= @aquarium.decors.first.facts %></p>
