
<div class="container">

<% fish_images = ["Neon Tetra", "Tiger Barb", "Glo Fish Tetra", "Swordtail", "Cory Catfish", "Dwarf Gourami", "Molly", "Ram Cichlid", "Magikarp", "Gyarados"] %>

<% fish_urls = ["https://lh3.googleusercontent.com/psBqrj-YKQsh4O_DvpShA4nbwECXQMC3rgSOJexKaqsyoDnzjiYWAs6HLNb6DRI4CVm7zmqHGZ_EoLUXBpkircQ5yrv2uos1vwmg-M1wFBLMzXPQCExBjrhBbu77QLSrB-RSe3Nemsuj31-SA75oQrzmZ84ZwEevAl5S4pOXQGyTHVO66Tv0ys0L11bMi2Cx-CBYyq9Sat7x629brk7gVAILSMH9sI2M3sQlAJo6BGDXSBT_hPM6f785F2do-tTSRXuNLDyWDd-EPEWsfEZG-1DNCTtq18Z6tU4moQif3NJzE4Ye2Y22z0aIxbGQqhq-Jdc7pM1KIHLHqK0W5aBn_P6nfdmyJaCYCdxcK5JIOFZkza6-jweV257Guyo2NbU128zz0gxf4REKF82edHKRb8Brmukrof-EK0lxEycsUQfewYgwFQO27T41DlVskOYZJgvanFZAAzMcVSAy3AG1ftlU92aYyqiYfVtEWszdwZzG9WD2Mu6qly9TDfHMDoyC6U3uJg9yHJ-d-bCkplOu_AUjimGAZQMJNmbcURA03Y2FRPcz8DopLB_BBj1T4lulBEf36lueEe3oUiVs4UyemVHH7GokGDueefxSN4q3riJNh6NyshRqtL3F7QbkcYZ5KlTIR7SjbHx9UufIx-ToL6w=s250-no",

"https://www.aqueon.com/-/media/Images/Aqueon-NA/US/Assets/Care-Sheets/TigerbarborSumatrabarbfish_600x400%20png.png?h=400&la=en&w=600&hash=209E3AC3907BBC855E4F98576BC3DB2326E5673B",

"https://png2.kisspng.com/sh/9ff6c4054d98a0376063b08a79d8f43b/L0KzQYm3VME6N5p5j5H0aYP2gLBuTfdwdJVrgeVxLXH0hbL5igVue15shNHvaYPrPcXslQJiNZD3edDwZT3qfLFATcVibGo1fNRsNnS1QLe6TsIxQWIASKk7MUW1RIKAVMI3QGU5T5D5bne=/kisspng-goldfish-aquariums-glofish-tetra-orange-glow-5ad90dbc6d20f3.209190721524174268447.png",

"https://lh3.googleusercontent.com/qD7TNfQjiBkyd_0SPpeOiNjMXtMiMZHWajXXHYt6ORhTMnAlZDv3F5Dx6YDirXMYWDvjSPVPFDGJKmFih1RL1wZlIBrj1uimcoRW-pPbhgFL2Oi6AGPUgfsBqZR4j0EdsWNKsoGZlXMHkPAKQtUI7NKpsXpnpf9k5Fm9bOc94aZi65h6jOw2nlyFezskJA5GubsWU3jtaQtLfA-ah6nL5zLOTdxy4bbnexjrSj3DN2wanU_RO_QKsyJTDbPqEahh4OZ1wP3uV57yYW4sRk2wRXsxl0XkNxHxjYJpZ7YabKB_QyTjv6DSz7G1DCIp5TEcAA2c0BM3IFcVKzV3-pq1yfDxNqOBi7ZIB64huXacIaxJWzOgg8_-9OX_ITNPzq4V8wBJgzJ9aJ_mckNGpfqDvh_DVmuFEcVG1a-a0kDIh54E5KBgMT6z3JorH8dEcNujcLTq6HlBoHMHh5wQW--b7svrAKIfeM0_5tKBx54rDaHrKePgIuRQ8A5GUPQXv6whYZcIBRPeSJuHYdQofcON1Rldf6BCQyCWIIc0QW3_y5ZHk2HCkGdyyV29_j9HdwlgGGdJkFs2WNT--CvGX9V71aG_ht-lfwvvuVKyvT2xbbhcYkykp8dP1aNSPu_w2EX5UYGbeFrjA4FJ8VXdYntj7aw=w700-h425-no",

"https://lh3.googleusercontent.com/G_hKVhlzzoaQ9IMrsDHaizt7yZ_hve9rmh7xunjI6KQF6lWrx-o-9KSxXQOIaMRry3tKRyemz9knbfmqkjckgMasPxDvhji0LgevytUnZPpvLZGyvL9pkyHbb8_rmDwcHxmBXz0VtkeAgDFlEPPIlkBn-U5GiynVSwYidnmfntduB9nt53sTHVjG2nhF7M8fs6evDbu30Ovk3o2-cdWDnUR6IJAzuiQydaQmbylU8xojRlhmw3GI1L7Abq-lluDXiPnwKS5bJw5iaUcd38q3TzlkGb89pR2b0D106rcrYApujKnQ_IPqFtBE8PcKCf2HVY2CtgrQ_Wuruw645H5r0VnC2BALxWzx5zrVqBY4I4Zf3eJpZ1VnQdF_bTD6OyUTKtluUjEpZf8tpNSi5kpuYsKccpLwzGiVkcOLDdqhe-kc8H6DYeKYiEEk80OIycKLFyAHHZlA1O2QwUVwou4yzzFBxEGwALrMLlUK9uuKTCLyw0QTViR0fUsxdqSsYbph40-Z5Ex1SCPBUl7lGYOQjwcOd6hMfzwcSKFD8niCKOsO435jm6VfmoqEfSUeoqQmt_9y1rpwRUgDnXj2fp4eiVQxuymvNEd6RLtTVas4pboL_sqBDAJMEZ9U6kcCAQRGFu8o1qyCNTDtes493VNhdIg=s500-no",

"https://lh3.googleusercontent.com/rsjsrBwR1_OW7BNQyonu0oW6KpWoEMTp3jxVRpsurDFJWwHG_0a0zSoGR9kZiJMmfBRiISevZyVLnFXoZ1GkXUIizIyosvbRRz3lD8UX3jmBpgeI4kHzRX7QySQPHLah7g-R4UfHKK5RIo5x4s7n4aE9kS339toMj6lrbNyTiI5Hf-RQE2ZBknjSB8NyEdpEqp4RjZrSNdo5hqJ0xceo4qQAlfBHqrSK6MQQo55fCJdeYgIAVIbOvmhoWQ56ipsrvciyNLJqRdYS1WIsSHsMHr_LJbK6cp3bpBWTen8iyj8wnPYVcapCa70wozwWd85GjGimEkAx3QY03OiqzFmeoU9B5tJaVHu7uGbyRNht1gS8N9LJko0KG-srMEeUq6cKPL8AmGexn5Pd4jcCkZSELJjv2JSAhOXiYS21Yo2EKf4dtor_mPn27cq0rqCss5XBlfi4h8CM4ss210zUYxzS9DRg2abQWMhPPybJoqU-RROhgGt6fZchudWQw1DglQKCTZHVisG9WP57HTPid2DA2tUCNwLKpfsFFXlSpIXLUZwTLaM3TGzH0F2DkZH1AbunlfEJldD2-apqQqYzRgvUvzmD3yloITCU4-sdZxV9xC6alxPhJtIbi7_iXLgvSoZhA2kn2wAD9JAQlcaXAeKgFKo=s600-no",

"https://lh3.googleusercontent.com/t9Qf0FOcB8sakkgoS577b9K_h4fsdRsgdmvlsslph3k3CUtWiat0ik5km-Z3QmwY0B7Hk4xjNOhF-himsf1CP9HoxEBiYy763BxCKQFqZTlcYSLdHGxS191v7s_uZV4xbDBOZvZdeKYaVTBJJdGuXq7PLUYSG2i9y0CYBOHIPZFKwB7LZ21mZDgN3A4N16_5bVbmndR-3oIII5hL2YfJ77hw0iGlzyMedfQmU6smgqeISUK2famm6A7IJ2siq21yTl41SbsLv8J8VJNcdNnApQ0SASLbHmwcgxE9r4TlDMrXR3EdgBFRqSUVC_jwvYWwCNtuWWALZv1y2lOYA9nNeYqc4T39jV7OwCZOGsQK8XM7f1L0KxZGBUUpAKUPjJe7q0cfmS7c70eHDDowBXr_Fgkz2Perh0lnqPZ2uEKgj5EAYwtwJ9v6Qeqx-s1BdhNaVz7Q-CTDAVaE0EosHmVKdsL0sb0OK-NB_ivC7JK-dcTNNQ2tS-_NM4tGbAJgyBO7lRDW3M4RmoYTecRP3VWX-cZH4RqO3FkuMwPs8C8-hAyLBUJSzaOG8b2VrAzpscugoybo-VKAVz7cV7yf9l5sQTRRyqHjyb_MbkT7nDC1SNVwPttvexJonhuJ7Dg6eO9QdT-D95rHyNeY8akcDgZFgU0=w1024-h768-no",

"https://lh3.googleusercontent.com/hpWASoGpdSDSpVa0znIKoyRgi3PWQrGqHFHTV82hRNpeWQ9FxxFnpjaJSVUoYM-Py5DTW6N6rp5tJ_B68jJLTsEMHjojOYFJdhWbK97FaZXwbHpFTtgmaL734-b7l6OkKlRt3C2cydaB2lZjJwi1yLc5qDaZbhOeYaemGexidQfjcKdW4pDZB09TWIdS6-Rh38tiae-r1Q1rQ3YX8JK-c2Ei5QPU4oK-64RCubYUt52k7gHYuaNuBR-mE6UemvtgbX69F4boyOa25cah0y73ZmI6VaXvWURxtA5rYz4zMHsEBA0jBYAFeXdt6qbDoxxCVXAnxkfttqic3ATI9ioxJcrBy2ak9Rb0GsL-o989QOyEERgtLBw-3FlBOV2rw-eMaNKtpRzYXz8lFjMVX52V2n0vlxorS4xIH7kQbbe8djGyHjYynCs0w6-uK1rf804A2hTz8bM6uOha2Jww4rHvuHXVZWUtZBcOfuCSldRLqMdh11Rj5UuErEBFd2egA6iinE19DPz3Hs_Z-_4nmwk-ucJv9kXb2ri2TNqdH5fd-u7zGKzf9h7hZB25CrKBb2scYfqCepYoVRQAbRUyaofqTJcAkapFojF4i1vwLD7LFDQt_YsmiAYMpOrAtygizrBbGM55X3YsaXjgftMDkM6ALms=w415-h241-no",

"https://lh3.googleusercontent.com/DNr1ZOqq8Vv8vHlEQIIXqq-013891n0IspmU7ijlowRsFzq6qdw7uEw4YGIbqfBrOMD57ldE_3bHYrRLfZd0WvhQzVcIlZfPHJDE0kkT6o5vYCGQSB8C7g-TRlrYjl8NDFsoxoEw6xb1ygE8iDx84e5yyy2ziY4dvTI9xlMqsJoZP18FzNN0-vGspZnPIJFbpS4bg0owwk6vMdhJq0Wd_aHLv4Zl9oMAi2G6il7_H8O9VdEE2WDdAWNZHB8_8Iv8QDVeZjiTyZXOfMh9jKXklOHbGNHvpb60Wg7nTXmS32DXKoQYHZg4A68vK4c8zgerFP1q5RU9EWZozNTIfbAK6bqPdJXFMycw_oYlPzmFAxOQLP3RY3gJ01SarHW6EbR9HUBCki48RGsQVmwfLnDZeXZ3SR-SbcHC3y-A5IifTgcvN9p88zE-XOI_1IbfNCUghj3KcymJs-0E-1DhXfi5JzINttzvYa07kh-oRRv545YZXpZe0cKAdWOh1aH13JXQzUEXMyi-Ne38ukW707qpTwkaKmqu7teZlrYgJuuZiqvJ7mnb4llodYOzhaP65DhqImo77sbP3jJRPm4SDfjJJaXBlfPYlJ44VtGdpZ883cqzDJ7zfgo21uArawtKvZPjETlaFBxC7GdVILAJ-GpC5hU=s900-no",

"https://png2.kisspng.com/sh/63aefe613530b195ca1fea92cc8223a8/L0KzQYm3WMEyN5ZwkJH0aYP2gLBuTgBwc550hp9DLXHxdH7CTfd6aaNmfNH8LYDye772jr1od15yedlya3H1gH70igMuNWZnTtgCZki4dIa8V8k2Nmo1Sqg8MEC6QYa6VMA0O2gAT6oCM0mxgLBu/kisspng-pokmon-x-and-y-gyarados-pokmon-go-magikarp-mis--5b6f7f85d55795.9026300715340337978739.png"

] %>

<% img1 = fish_urls[fish_images.index(@aquarium.school.species1)] %>
<% img2 = fish_urls[fish_images.index(@aquarium.school.species2)] %>
<% img3 = fish_urls[fish_images.index(@aquarium.school.species3)] %>

<br>
<br>
<div class="container" >

  <div class="parent">
    <img class="fish_tank" src="https://cdn.dribbble.com/users/375867/screenshots/1512391/under-the-sea-ocean-water-aquarium-game-background-game-asset-side-scroller.png">
    <img class="fish1" src="<%=img1%>">
    <img class="fish2" src="<%=img2%>">
    <img class="fish3" src="<%=img3%>">
  </div><br>

  <h5 class = 'light'> <%=@aquarium.creator%>'s Aquarium</h5><br>

  <p><b>Size</b>: <%= @aquarium.gallons %> gallons</p>
  <p><%= link_to "Edit", edit_aquarium_path %></p>

  <p><b>Style</b>: <%= @aquarium.decor.style %></p>
  <%= link_to "Edit", edit_decor_path %><br>

  <p><b> Fish Facts </b></p>
  <ul>
    <li><b><%=@aquarium.school.species1 %></b>: <%= @aquarium.school.facts1 %></li><br>
    <li><b><%=@aquarium.school.species2 %></b>: <%= @aquarium.school.facts2 %></li><br>
    <li><b><%=@aquarium.school.species3 %></b>: <%= @aquarium.school.facts3 %></li>
  </ul>
  <p><%= link_to "Edit", edit_school_path %></p>

  <p><b> Equipments Facts </b></p>
  <ul>
    <li><b><%=@aquarium.equipment.item1 %></b>: <%= @aquarium.equipment.facts1 %></li><br>
    <li><b><%=@aquarium.equipment.item2 %></b>: <%= @aquarium.equipment.facts2 %></li><br>
    <li><b><%=@aquarium.equipment.item3 %></b>: <%= @aquarium.equipment.facts3 %></li>
  </ul>
  <p><%= link_to "Edit", edit_equipment_path %></p>
</div>
