
<div class="container">

<% fish_images = ["Neon Tetra", "Tiger Barb", "Glo Fish Tetra", "Swordtail", "Cory Catfish", "Dwarf Gourami", "Molly", "Ram Cichlid", "Magikarp", "Gyarados"] %>

<% fish_urls = ["https://i.imgur.com/KYqnjHh.png",

"https://www.aqueon.com/-/media/images/aqueon-na/us/assets/care-sheets/tigerbarborsumatrabarbfish_600x400%20png.png?h=400&la=en&w=600&hash=209E3AC3907BBC855E4F98576BC3DB2326E5673B",

"https://png2.kisspng.com/sh/9ff6c4054d98a0376063b08a79d8f43b/L0KzQYm3VME6N5p5j5H0aYP2gLBuTfdwdJVrgeVxLXH0hbL5igVue15shNHvaYPrPcXslQJiNZD3edDwZT3qfLFATcVibGo1fNRsNnS1QLe6TsIxQWIASKk7MUW1RIKAVMI3QGU5T5D5bne=/kisspng-goldfish-aquariums-glofish-tetra-orange-glow-5ad90dbc6d20f3.209190721524174268447.png",

"https://i.imgur.com/V8iLmgd.png",

"https://i.imgur.com/LRGNULI.png",

"https://i.imgur.com/FNjPmM2.png",

"https://i.imgur.com/0LAKanv.png",

"https://i.imgur.com/r7CW4Vz.png",

"https://i.imgur.com/yg7A7R9.png",

"https://png2.kisspng.com/sh/63aefe613530b195ca1fea92cc8223a8/L0KzQYm3WMEyN5ZwkJH0aYP2gLBuTgBwc550hp9DLXHxdH7CTfd6aaNmfNH8LYDye772jr1od15yedlya3H1gH70igMuNWZnTtgCZki4dIa8V8k2Nmo1Sqg8MEC6QYa6VMA0O2gAT6oCM0mxgLBu/kisspng-pokmon-x-and-y-gyarados-pokmon-go-magikarp-mis--5b6f7f85d55795.9026300715340337978739.png"

] %>

<% img1 = fish_urls[fish_images.index(@aquarium.school.species1)] %>
<% img2 = fish_urls[fish_images.index(@aquarium.school.species2)] %>
<% img3 = fish_urls[fish_images.index(@aquarium.school.species3)] %>
<% img4 = fish_urls[fish_images.index(@aquarium.school.species4)] %>
<% img5 = fish_urls[fish_images.index(@aquarium.school.species5)] %>
<br>
<br>
<div class="container animated bounceInDown" >

  <div class="parent">
    <img class="fish_tank" src="https://cdn.dribbble.com/users/375867/screenshots/1512391/under-the-sea-ocean-water-aquarium-game-background-game-asset-side-scroller.png">
    <img class="fish1 animated pulse animations" src="<%=img1%>">
    <img class="fish2 animated pulse animations" src="<%=img2%>">
    <img class="fish3 animated pulse animations" src="<%=img3%>">
    <img class="fish4 animated pulse animations" src="<%=img4%>">
    <img class="fish5 animated pulse animations" src="<%=img5%>">
  </div><br>

  <h5 class = 'light'> <%=@aquarium.creator%>'s Aquarium</h5><br>

  <p><b>Size</b>: <%= @aquarium.gallons %> gallons</p>
  <p><%= link_to "Edit", edit_aquarium_path %></p>

  <p><b>Style</b>: <%= @aquarium.decor.style %></p>
  <%= link_to "Edit", edit_decor_path %><br>

  <p><b> Fish Facts </b></p>
  <ul>
    <li><b><%=@aquarium.school.species1 %></b>: <%= @aquarium.school.facts1 %></li><br>
    <li><b><%=@aquarium.school.species2 %></b>: <%= @aquarium.school.facts2 %></li><br>
    <li><b><%=@aquarium.school.species3 %></b>: <%= @aquarium.school.facts3 %></li><br>
    <li><b><%=@aquarium.school.species4 %></b>: <%= @aquarium.school.facts4 %></li><br>
    <li><b><%=@aquarium.school.species5 %></b>: <%= @aquarium.school.facts5 %></li><br>
  </ul>
  <p><%= link_to "Edit", edit_school_path %></p>

  <p><b> Equipments Facts </b></p>
  <ul>
    <li><b><%=@aquarium.equipment.item1 %></b>: <%= @aquarium.equipment.facts1 %></li><br>
    <li><b><%=@aquarium.equipment.item2 %></b>: <%= @aquarium.equipment.facts2 %></li><br>
    <li><b><%=@aquarium.equipment.item3 %></b>: <%= @aquarium.equipment.facts3 %></li>
  </ul>
  <p><%= link_to "Edit", edit_equipment_path %></p>
</div>
