<div class="container">
  <%= form_for @decor do |f| %>
    <%= f.label :style %>
    <%= f.select(:style, @options)  %>
    <%= f.hidden_field :aquarium_id, :value => @aquarium.id %><br><br>
    <%= f.submit "Submit", :class => 'waves-effect waves-light btn-small orange' %>
  <% end %>
</div>
<img src="https://i.imgur.com/kCCvdka.png" alt="Italian Trulli" class="image animated pulse animations">
