<!DOCTYPE html>
<html>
  <head>
    <title>BuildYourOwnAquarium</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Compiled and minified CSS -->
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">MyAquarium</a>
          <ul class="right hide-on-med-and-down">
            <li><a href="../aquaria/new">New</a></li>
            <li><a href="../aquaria">Aquaria</a></li>
            <li><a href="../resources">Resources</a></li>
            <li><a href="../contact">Contact</a></li>

          </ul>
        </div>
      </nav>
    <%= yield %>


  </body>
</html>
